# API
SERVER_PORT=8080
DB_HOST=localhost
DB_PORT=5432
DB_NAME=nimbus
DB_USER=nimbus
DB_PASSWORD=nimbus
REDIS_HOST=localhost
REDIS_PORT=6379
CORS_ORIGINS=http://localhost:3000

# Web
NEXT_PUBLIC_API_URL=http://localhost:8080
